<h1>About</h1>

<p>
	My God is Awesome! is a collection of everyday anecdotes and stories sent to us exclusively by our users, which we then publish on the site. This is a space where you can tell others how God has made his presence known in your life today.
</p>