<div class="hero-unit">
  <h3>Welcome</h3>
  	<p>
  		You've found the homepage for My God is Awesome! This site allows you to share how God has made a difference in your life today.
  	</p>
  	<p>
    	<%= link_to "Submit Your Story!", "#", class: "btn btn-primary btn-default"%>
  	</p>
</div>